
# 환경 변수 파일
.env
*.env
.venv/
__pycache__/
*.wav
*.npy
*.pt
outputs/
data/wavs_original/
data/mels_original/
data/mels_refined/
# Jupyter notebook checkpoints (임시파일, Git에 올릴 필요 없음)
**/.ipynb_checkpoints/