# --------------------
# Python / 가상환경
# --------------------
.venv/
venv/
env/
ENV/

__pycache__/
*.py[cod]
*.pyo
*.pyd

# 빌드/캐시 파일
*.so
*.dll
*.log

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------

# --------------------
data/
checkpoints/
outputs/


# VSCode, PyCharm 등
.vscode/
.idea/

# 환경 변수 파일
.env
*.env
